body {
  font-family: 'Be Vietnam', sans-serif;
  text-align: center;
  background: linear-gradient(rgba(178, 79, 224, 0.5), rgba(199, 154, 233, 0.5));
  background-image: url(http://giphygifs.s3.amazonaws.com/media/OapNdFPJMxn0c/giphy.gif);
  background-size: 10%;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 30px auto 40px;
  color: rgb(11, 93, 43)
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(192, 57, 57, 0.6); 
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  flex-shrink: 0;
}

#contact {
  text-align: center;
  padding-bottom: 20px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 50px;
  animation-name: title;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  background-color: rgba(9, 221, 245, 0.1);
} 

h1:hover {
  opacity: 0.5;
}

@keyframes title {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

input {
  border: 4px solid green;
}

#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(to bottom right, rgba(142, 133, 172, 0.5), rgba(110, 218, 100, 0.5));
}

#info p {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.greenText {
  color: rgb(73, 128, 0);
}

.brownText {
  color: rgb(165,42,42);
}

#ingredients input[type=text]{
  padding: 10px;
  margin-right: 10px;
}

button {
  width: 80px;
  height: 30px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 5px;
  font-size: 1.2em;
}

button:hover {
  color: green;
  border-color: aquamarine;
  transform: scale(1.2);
  cursor: pointer;
}

small {
  text-align: center;
  display: block;
  background-color: #000033;
  color: white;
  padding: 10px 0 10px 0;
}

