body {
  font-family: 'Be Vietnam', sans-serif;
  text-align: center;
  background: linear-gradient(rgba(178, 79, 224, 0.5), rgba(199, 154, 233, 0.5));
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  color: rgb(11, 93, 43)
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(192, 57, 57);
  color: white;
  text-align: center;
}

h1 {
  font-weight: bold;
  animation-name: title;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} 

h1:hover {
  border-radius: 50%;
}

@keyframes title {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

#info p {
  color: red;
}

.greenText {
  color: rgb(73, 128, 0);
}

.brownText {
  color: rgb(165,42,42);
}

#ingredients input[type=text]{
  padding: 10px;
  margin-right: 10px;
}

button {
  width: 80px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.2em;
}

button:hover {
  color: green;
  border-color: aquamarine;
  transform: scale(1.2);
  cursor: pointer;
}



